* {
    font-family: Verdana;
}

#star_component {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin: 0 auto;
    width: 35em;
    padding-top: 2.5em;
    padding-bottom: 2em;
    margin-top: 5em;
}

#star_component input {
    border-radius: 10px;
    margin-bottom: 0.8em;
    padding: 0.7em;
    margin-top: 0.3em;
    width: 24em;
}

#star_component h2 {
    text-align: center;
    font-weight: bold;
}

#star_component form {
    margin: 0 auto;
    width: 24em;
}

#star_submit_button
{
    width: 15em;
    background-color: #ed3e3e;
    color: white;
    border: none;
    padding-top: 2em;

}

#star_status_message {
    text-align: center;
}

#star_submit_button:hover {
    background-color: #ff4b4b;
}