* {
    font-family: Verdana;
}

html {
    background-color: #ed3e3e;
}

#login_component {
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 25em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 15em;
}

#login_component input {
    border-radius: 10px;
    margin-bottom: 0.8em;
    padding: 1em;
    margin-top: 0.8em;
}

#login_component h2 {
    text-align: center;
    font-weight: bold;
}

#login_component form {
    margin: 0 auto;
    width: 12em;
}

#login_submit
{
    width: 15em;
    background-color: #ed3e3e;
    color: white;
    border: none;
}

#login_error_message {
    text-align: center;
}

#login_submit:hover {
    background-color: #ff5c5c;
}

.g-recaptcha {
    -webkit-transform:scale(0.69);
    transform:scale(0.69);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    padding-top: 1.2em;
}