#browse_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

#genre_content, #titles_content {
    width: 50%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 2em 1em;
    word-wrap: break-word; /* Allow words to wrap within the div */
}

#titles_content {
    margin-top: 5em;
}

#genres_list {
    list-style: none;
    column-count: 3;
    column-gap: 4em;
    padding: 0;
    margin-top: 2em;
    font-weight: bold;
    color: #ed3e3e;
}

#titles_list {
    margin-top: 2em;
    letter-spacing: 0.5em;
    font-weight: bold;
}

#browse_body h2 {
    font-weight: bold;
}

#genres_list a {
    color: #ed3e3e;
    text-decoration: none;

}

#titles_list a {
    color: #ed3e3e;
    text-decoration: none;
}